name: CI
on: [push, pull_request]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.26.0"
          cache: true
      - name: Run go vet
        run: go vet ./...
      - name: Test with coverage
        run: go test -v -race -covermode=atomic -coverprofile=coverage.out ./...
      - name: Coveralls
        uses: coverallsapp/github-action@v2.3.6
        with:
          github-token: ${{ secrets.github_token }}
          file: coverage.out
          format: golang
